.root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
/* =====================Header================ */
.nav-list {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
}
.nav-href:hover {
  color: #2196f3;
}
.nav-href {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}
.nav-mailto {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #2196f3;
}
.nav-tel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: #757575;
}
.selection-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #212121;
}
/* =====================Main================ */
.main-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
.title-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

/* =====================Footer================ */
.footer-address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.footer-mailto {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
